<% 
    var jsonData = jsonData || null;
    var url = url || null;
    var qty = qty || '';
%>

<!-- PAGE TITLE -->
<div class="row">
    <h3 class="col-12"><a class="text-blue" href="/">Raw Tiki Books</a></h3>
</div>

<!-- CONTENT -->
<div class="row">
    <!-- CONTROL -->
    <%- include('control.ejs') %>

    <!-- RESULT -->
    <%- include('result.ejs') %>
    <div id="params">
        <div data-key="url" class="d-none"><%=url%></div>
        <div data-key="qty" class="d-none"><%=url%></div>
        <div data-key="items-json" class="d-none"><%=jsonData%></div>
    </div>
</div>